* {
    scroll-behavior: smooth;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #0E1125;
    overflow-x: hidden;
}

header {
    min-height: 100vh;
    display: flex;
    background-image: radial-gradient(106.19% 106.19% at 48.47% 0%, rgba(14, 17, 37, 0.54) 0%, #0E1125 100%), 
        url('../images/header_background.png');
    z-index: 99;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 40% 50%; 
    position: relative;
    z-index: 90;
    font-family: 'Montserrat', sans-serif;
    flex-direction: column;
    padding: 20px 0px;
}

.header-top-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-top-section .header-top-btn {
    padding: 15px 30px;
    border-radius: 30px;
    background-color: #2D94AB;
    font-style: normal;
    font-weight: 500;
}

.header-mid-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 14vh;
}

.header-mid-section .header-mid-left {
    text-align: right;
    padding-right: 30px;
}

.header-mid-section .header-mid-left p {    
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: right;
    color: #F8F8F8;
}

.header-mid-section .header-mid-right {
    padding-left: 30px;
}

.header-mid-section .header-mid-right p {
    font-family: 'Montserrat', sans-serif;
    font-size: 100px;
    font-style: normal;
    font-weight: 600;
    line-height: 120px;
    letter-spacing: 0em;
    text-align: left;
    color: #F8F8F8;
}

.no-pl {
    padding-left: 0px !important;
}

section {
    min-height: 100vh;
    padding-top: 160px;
    padding-bottom: 160px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 12px;
    padding-bottom: 15px;
    min-height: 80px;
    position: absolute;
    bottom: 0px;
    background-color: transparent;
    transition: all 0.1ms linear;
}

nav #nav-logo {
    height: 60px;
    display: none;
    justify-content: center;
    flex-direction: row;
    flex: 1;
    transition: all 0.2s ease-in;
}

nav #nav-logo p {
    color: #F8F8F8;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    padding: auto 15px;
}

nav #nav-logo img {
    width: auto;
    height: 80%;
    padding-right: 15px;
}

nav ul {
    list-style: none;
    flex: 1;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    padding: 5px 0px;
    transition: all 0.1s linear;
    border-bottom: 4px solid transparent;
}

nav ul li.active {
    border-bottom: 4px solid #2D94AB;
    transition: all 0.1s linear;
}

nav #nav-container-main {
    font-size: 20px;
    transition: all 0.2s ease-in;
}

nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.1em;
    text-align: center;
    color: #F8F8F8;
}

nav ul li a:hover {
    text-decoration: none;
    color: #F8F8F8;
}

.mobile-nav {
    background-color: #0E1125;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    margin: 0px;
    padding: 10px 0px;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.mobile-nav .mobile-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 8px;
    cursor: pointer;
}

.mobile-nav .mobile-menu a i.fa {
    font-size: 18px;
    color: #F8F8F8;
}

.mobile-nav .mobile-menu a {
    color: #F8F8F8;
    font-size: 12px;
}

.mobile-nav .mobile-menu a:hover {
    text-decoration: none;
}

.mobile-nav .mobile-menu.active-m-menu a {
    color: #2D94AB !important;
}

.mobile-nav .mobile-menu.active-m-menu a i.fa {
    color: #2D94AB !important;
}

@media (min-width: 769px) {
    #mobile-nav {
        display: none;
    }
}

@media (max-width:993px) and (min-width:769px) {
    .header-mid-section {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 18vh;
    }

    .header-mid-section .header-mid-left p {    
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: right;
        color: #F8F8F8;
    } 
    .header-mid-section .header-mid-right p {
        font-family: 'Montserrat', sans-serif;
        font-size: 65px;
        font-style: normal;
        font-weight: 600;
        line-height: 70px;
        letter-spacing: 0em;
        text-align: left;
        color: #F8F8F8;
    }

}

/* Overview */

.swiper-slide {
    min-height: 80vh;
    background-color: #0E1125;
    display: flex;
    align-items: center;
    justify-content: center;
}
.swiper-button-next::after, .swiper-container-rtl .swiper-button-prev::after {
    content: '\f054';
}

.swiper-button-prev::after, .swiper-container-rtl .swiper-button-next::after {
    content: '\f053';
}

.swiper-button-next::after, .swiper-button-prev::after {
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
    color: #F8F8F8;
}

.swiper-slide .icon-container p.slide-back-image-left::before {
    content: '';
    width: 230px;
    height: 230px;
    border-radius: 50%;
    background: linear-gradient(180deg, rgba(219, 0, 255, 0.34) 0%, rgba(105, 40, 99, 0.11) 32.89%, rgba(57, 28, 66, 0.13) 68.2%, rgba(14, 17, 37, 0) 100%);
    position: absolute;
    top: -43px;
    left: 38px;
}

.swiper-slide .icon-container p.slide-back-image-left {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 5vw;
    font-style: normal;
    font-weight: 600;
    line-height: 5vw;
    letter-spacing: 0.05em;
    text-align: right;
    text-transform: uppercase;
    color: #F8F8F8;
    margin-top: 20px;
    position: relative;
}


.swiper-slide .icon-container p.slide-back-image-right::before {
    content: '';
    width: 230px;
    height: 230px;
    border-radius: 50%;
    background: linear-gradient(180deg, rgba(255, 3, 147, 0.34) 0%, rgba(255, 3, 147, 0.11) 32.89%, rgba(57, 28, 66, 0.13) 68.2%, rgba(14, 17, 37, 0) 100%);
    position: absolute;
    top: -43px;
    right: -10px;
}

.swiper-slide .icon-container p.slide-back-image-right {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 5vw;
    font-style: normal;
    font-weight: 600;
    line-height: 5vw;
    letter-spacing: 0.05em;
    text-align: left;
    text-transform: uppercase;
    color: #F8F8F8;
    margin-top: 20px;
    margin-left: 60px;
    position: relative;
}

.swiper-slide .icon-container p.slide-clipper {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 4.5vw;
    line-height: 5.1vw;
    letter-spacing: 0.1em;
    text-align: left;        
    text-transform: uppercase;
    background: linear-gradient(118.15deg, #F922BD 0%, rgba(0, 73, 215, 0.98) 100%) no-repeat;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.swiper-slide .content-container p.slide-content {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.4vw;
    font-style: normal;
    font-weight: 300;
    line-height: 1.8vw;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 40px;
    color: #F8F8F8;
}

/* TIMER SECTION */
.timer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 400px;
    background:  url('../images/countdown-bg.png'), linear-gradient(89.84deg, #742F56 0.14%, #381C40 49.71%, #0E1125 99.87%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 40% 50%; 
    position: relative;
}

.timer-section p.timer-head {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #F8F8F8;   
}

.timer-section .timer-content-section {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.timer-section .timer-content-section .timer-pattern {
    margin-left: 10px;
    margin-right: 10px;
}

.timer-section .timer-content-section p.time-count {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 6.5vw;
    font-style: normal;
    font-weight: 600;
    line-height: 6.5vw;
    letter-spacing: 0em;
    text-align: center;
    color: #F8F8F8;
}

.timer-section .timer-content-section p.time-label {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.8vw;
    font-style: normal;
    font-weight: 400;
    line-height: 1vw;
    letter-spacing: 0.03em;
    text-align: center;
    color: #F8F8F8;
}

.timer-section .timer-content-section p.time-colon {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 6.5vw;
    font-style: normal;
    font-weight: 600;
    line-height: 5.5vw;
    letter-spacing: 0em;
    text-align: center;
    color: #F8F8F8;
}

/* Schedule Section */
#schedule {
    position: relative;
}

#schedule::before {
    content: '';
    display: inline;
    position: absolute;
    top:170px;
    left: 5%;
    background: url('../images/TimeLineGear.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.ps-timeline-sec {
    position: relative;
    background: #0E1125;
}
.ps-timeline-sec .container {
    position: relative;
}

@media screen and (max-width: 767px) {
    #schedule::before {
        content: '';
        display: inline;
        position: absolute;
        top: 10px;
        left: 8%;
        background: url('../images/TimeLineGear.png');
        background-repeat: no-repeat;
        width: 92%;
        height: 50%;
    }

    .ps-timeline-sec .container ol.ps-timeline {
        margin: 130px 0 !important;
        border-left: 2px solid #C600E6;
        padding-left: 0 !important;
        padding-top: 120px !important;
        border-top: 0 !important;
        margin-left: 25px !important;
    }

    .ps-timeline-sec .container ol.ps-timeline li {
        min-height: 220px;
        float: none !important;
        width: inherit !important;
    }
    .ps-timeline-sec .container ol.ps-timeline li:nth-child(2) .img-handler-bot img {
        width: 70px;
    }
    .ps-timeline-sec .container ol.ps-timeline li:last-child {
        margin: 0;
        bottom: 0 !important;
        height: 120px;
    }
    .ps-timeline-sec .container ol.ps-timeline li:last-child .img-handler-bot {
        bottom: 40px !important;
        width: 40% !important;
        margin-left: 25px !important;
        margin-top: 0 !important;
    }

    .ps-timeline-sec .container ol.ps-timeline li:last-child .ps-top {
        margin-bottom: 0 !important;
        top: 0px;
        width: 90% !important;
    }
    .ps-timeline-sec .container ol.ps-timeline li span {
        left: 0 !important;
    }

    .ps-timeline-sec .container ol.ps-timeline li p {
        text-align: left !important;
        width: 100% !important;
        margin: 0 auto !important;
        margin-top: 0px !important;
    }
    .ps-timeline-sec .container ol.ps-timeline li .ps-top {
        width: 90% !important;
        float: right !important;
        right: 0;
        top: 0px;
    }
    .ps-timeline-sec .container ol.ps-timeline li .ps-bot {
        width: 90% !important;
        float: right !important;
        right: 0;
        top: -40px;
    }

    

    .ps-timeline-sec .container ol.ps-timeline li p.ps-timeline-head {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 24px !important;
        font-style: normal;
        font-weight: 700;
        line-height: 10px;
        text-align: center;
        text-transform: uppercase;
        color: #2D94AB;
    }
    
    .ps-timeline-sec .container ol.ps-timeline li .ps-top p.ps-timeline-head {
        margin-top: 0px !important;
        margin-bottom: 20px !important;
    }
    
    .ps-timeline-sec .container ol.ps-timeline li .ps-bot p.ps-timeline-head {
        margin-bottom: 20px !important;
    }
}

.ps-timeline-sec .container ol.ps-timeline {
    margin: 390px 0;
    padding: 0;
    border-top: 2px solid #C600E6;
    list-style: none;
}
.ps-timeline-sec .container ol.ps-timeline li {
    float: left;
    width: 25%;
    padding-top: 30px;
    position: relative;
}
.ps-timeline-sec .container ol.ps-timeline li span {
    width: 50px;
    height: 50px;
    margin-left: -25px;
    background: #0E1125;
    border: 4px solid #C600E6;
    border-radius: 50%;
    box-shadow: 0 0 0 0px #fff;
    text-align: center;
    line-height: 50px -10;
    color: #df8625;
    font-size: 2em;
    font-style: normal;
    position: absolute;
    top: -26px;
    left: 50%;
}

.ps-timeline-sec .container ol.ps-timeline li p.ps-timeline-head {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 10px;
    text-align: center;
    text-transform: uppercase;
    color: #2D94AB;
}

.ps-timeline-sec .container ol.ps-timeline li .ps-top p.ps-timeline-head {
    margin-top: 35px;
}

.ps-timeline-sec .container ol.ps-timeline li .ps-bot p.ps-timeline-head {
    margin-bottom: 35px;
}

.ps-timeline-sec .container ol.ps-timeline li p {
    text-align: center;
    width: 100%;
    color: #F8F8F8;
    margin: 0 auto;
    font-family: 'Source Sans Pro', sans-serif;   
}

.ps-timeline-sec .container ol.ps-timeline li .ps-top {
    position: absolute;
    bottom: 0;
    margin-bottom: 100px;
}
.ps-timeline-sec .container ol.ps-timeline li .ps-bot {
    position: absolute;
    margin-top: 35px;
}
  

/* SPEAKERS */
.speakers-container {
    background: #0E1125;
    height: auto;
    font-family: 'Source Sans Pro', sans-serif;
}



.speaker-section-heading {
    color: #F8F8F8;
    font-weight: 400;
    font-size: 50px;
    text-align: center;
    letter-spacing: 3px;
}

.speaker {
    cursor: pointer;
    transition: all 0.2s linear;
}

.speaker:hover {
    transform: scale(1.1);
}

.speaker-name, .speaker-position {
    color: #f8f8f8;
}

.speaker-image-cards {
    margin-top: 7em;
}

.speaker-name {
    margin-top: 1em;
    font-size: 20px;
}

.image-rows {
    margin-top: 5em;
}

.register-speaker {
    background-color: #2D94AB;
    border-radius: 70px;
    color: rgba(16,16,16,1);
    font-size: 20px;
    padding: 0 30px 0 30px;
    height: 60px;
    width: 260px;
    border: none;
    margin-bottom: 5em;
}

.register-speaker:hover {
    background-color: #2d94ab;
    color: rgba(16,16,16,1);
}

.speaker-button {
    margin-top: 3em;
}

/* ******************************************* */


@media (max-width: 600px)
{
    .image-rows {
        margin-top: 0em;
    }
    .speaker {
        margin-top: 2em;
    }
}



/* Mobile Optimization */
@media (max-width: 768px) {
    
    section {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    #desktop-nav {
        display: none;
    }

    .header-top-section img {
        width: 60px;
        height: 60px;
    }
        
    .header-top-section .header-top-btn {
        padding: 10px 20px;
        border-radius: 30px;
        background-color: #2D94AB;
        font-style: normal;
        font-weight: 500;
    }

    .header-mid-section {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-top: 22vh;
    }

    .header-mid-section .header-mid-right {
        padding-left: 0px;
        padding-top: 10px;
    }

    .header-mid-section .header-mid-right p {
        font-family: 'Montserrat', sans-serif;
        font-size: 50px;
        font-style: normal;
        font-weight: 600;
        line-height: 50px;
        letter-spacing: 0em;
        text-align: left;
        color: #F8F8F8;
    }

    .header-mid-section .header-mid-right::before {
        content: '10 - 13 October';
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 40px;
        letter-spacing: 0em;
        text-align: left;
        color: #F8F8F8;

    }

    .image-rows {
        margin-top: 5em;
    }

    .speaker-image-cards {
        margin-top: 0em;
    }


    /* Overview */
    .swiper-slide {
        min-height: 80vh;
        background-color: #0E1125;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .swiper-button-next::after, .swiper-container-rtl .swiper-button-prev::after {
        content: '\f054';
    }

    .swiper-button-prev::after, .swiper-container-rtl .swiper-button-next::after {
        content: '\f053';
    }

    .swiper-button-next::after, .swiper-button-prev::after {
        font-family: "Font Awesome 5 Free";
        font-weight: bold;
        color: #F8F8F8;
    }

    .swiper-slide .icon-container {
        flex: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .swiper-slide .icon-container p.slide-back-image-left::before {
        content: '';
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background: linear-gradient(180deg, rgba(219, 0, 255, 0.34) 0%, rgba(105, 40, 99, 0.11) 32.89%, rgba(57, 28, 66, 0.13) 68.2%, rgba(14, 17, 37, 0) 100%);
        position: absolute;
        top: -50px;
        left: 0px;
    }

    .swiper-slide .icon-container p.slide-back-image-left {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 9vw;
        font-style: normal;
        font-weight: 600;
        text-align: center;
        text-transform: uppercase;
        color: #F8F8F8;
        margin-top: 20px;
        position: relative;
    }


    .swiper-slide .icon-container p.slide-back-image-right::before {
        content: '';
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background: linear-gradient(180deg, rgba(255, 3, 147, 0.34) 0%, rgba(255, 3, 147, 0.11) 32.89%, rgba(57, 28, 66, 0.13) 68.2%, rgba(14, 17, 37, 0) 100%);
        position: absolute;
        top: -43px;
        left: -10px;
    }

    .swiper-slide .icon-container p.slide-back-image-right {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 9vw;
        font-style: normal;
        font-weight: 600;
        text-align: left;
        text-transform: uppercase;
        color: #F8F8F8;
        margin-top: 20px;
        margin-left: 0px;
        position: relative;
    }

    .swiper-slide .icon-container p.slide-clipper {
        font-family: 'Source Sans Pro', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 9vw;
        line-height: 9vw;
        letter-spacing: 0.1em;
        text-align: center;        
        text-transform: uppercase;
        background: linear-gradient(118.15deg, #F922BD 0%, rgba(0, 73, 215, 0.98) 100%) no-repeat;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .swiper-slide .content-container p.slide-content {
        display: flex;
        flex: 2;
        align-items: flex-start;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 5vw;
        font-style: normal;
        font-weight: 300;
        line-height:5vw;
        letter-spacing: 0em;
        text-align: left;
        color: #F8F8F8;
    }

    /* TIMER SECTION */
    .timer-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 250px;
        background:  url('../images/countdown-bg.png'), linear-gradient(89.84deg, #742F56 0.14%, #381C40 49.71%, #0E1125 99.87%);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 40% 50%; 
        position: relative;
    }

    .timer-section p.timer-head {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.03em;
        text-align: center;
        color: #F8F8F8;   
    }

    .timer-section .timer-content-section {
        display: flex;
        justify-content: center;
        padding: 20px;
    }

    .timer-section .timer-content-section .timer-pattern {
        margin-left: 10px;
        margin-right: 10px;
    }

    .timer-section .timer-content-section p.time-count {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 6.5vw;
        font-style: normal;
        font-weight: 600;
        line-height: 6.5vw;
        letter-spacing: 0em;
        text-align: center;
        color: #F8F8F8;
    }

    .timer-section .timer-content-section p.time-label {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 2.8vw;
        font-style: normal;
        font-weight: 400;
        line-height: 1vw;
        letter-spacing: 0.03em;
        text-align: center;
        color: #F8F8F8;
    }

    .timer-section .timer-content-section p.time-colon {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 6.5vw;
        font-style: normal;
        font-weight: 600;
        line-height: 5.5vw;
        letter-spacing: 0em;
        text-align: center;
        color: #F8F8F8;
    }

}



.ticket-section {
    background: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9)),url('../images/wave.png');
    font-family: Source Sans Pro;
    height: auto;
}
.ticket-title , .ticket-content {
    color: rgba(229, 229, 229, 1);

}
.ticket-title {
    font-size: 60px;
}
.ticket-content {
    font-size: 20px;
}

.ticket-button {
    margin-top: 4em;
}
.register-ticket {
    background-color: #2D94AB;
    border-radius: 70px;
    color: rgba(16,16,16,1);
    font-size: 20px;
    padding: 0 30px 0 30px;
    height: 60px;
    width: 260px;
    border: none;
    margin-bottom: 3em;
}
.register-ticket:hover {
    background-color: #2d94ab;
    color: rgba(16,16,16,1);
}

.event-details {
    background: #0E1125;
    height: auto;
    font-family: Source Sans Pro;
}
.initial-details {
    padding-top: 4em;
}
.rectangle-discord {
    width: 245px;
    height: 218px;
    top: 80px;
    background: #712F72;
    border-radius: 8.14685px;
    background-image: url('../images/discord.png');
    background-repeat: no-repeat;
    background-position: 2em;
}
.polygon {
    position: absolute;
    width: 40.61px;
    height: 215.03px;
    left: 265px;
    top: -50px;
    transform: rotate(64.28deg);
}

.conf-details {
    color: #e6e6e6;
    font-size: 20px;
    padding-left: 7em;
}

.divider {
    margin-top: 5em;
    border: 2px solid #C600E6;
    width: 60%;
}
.onboard-details {
    margin-top: 3em;
}
.onboard-title {
    color: rgba(229, 229, 229, 1);
    font-size: 50px;

}
.onboard-points {
    margin-top: 3em;
    padding-bottom: 5em;
}
.onboard-points ol {
    color: #E6E6E6;
    font-size: 20px;
    line-height: 40px;
}
.globe-image {
    padding-top: 3em;
}
.ellipse {
    top: 30px;
}
.vector1 {
    position: absolute;
    left: 120px;
    top: 110px;
}
.vector2 {
    position: absolute;
    left: -45px;
    top: 120px;
}
.vector3 {
    position: absolute;
    left: 25px;
    top: 50px;
}
.vector4 {
    position: absolute;
    left: 120px;
    top: 30px;
}

.conf-theme {
    background: linear-gradient(90deg, #702841 0%, #270627 100%);
    font-family: Source Sans Pro;
    height:20%;

}
.theme-mssg {
    color: rgba(248, 248, 248, 1);
    font-size: 25px;
    padding-top: 7em;
}
.theme-vector {
    position: absolute;
    top: 220px;
    left: 200px;
}
.sponsors {
    background-color: #0E1125;
    font-family: Source Sans Pro;
    height: auto;
}
.sponsor-title {
    padding-top: 3em;
}
.sponsor-text {
    color: #e6e6e6;
    font-size: 50px;
}
.sponsor-logo {
    padding-top: 3em;
}
.sponsor-button {
    padding-top: 7em;
}
.register-sponsor {
    background-color: #2D94AB;
    border-radius: 70px;
    color: rgba(16,16,16,1);
    font-size: 20px;
    padding: 0 30px 0 30px;
    height: 60px;
    width: 260px;
    border: none;
    margin-bottom: 3em;
}
.register-sponsor:hover {
    background-color: #2d94ab;
    color: rgba(16,16,16,1);

}
.social-media-icons {
    display: flex;
    padding-top: 3em;
    justify-content: space-between;
    align-items: center;
    width: 25%;
    padding-bottom: 4em;
}

@media (max-width: 600px)
{

    .image-rows {
        margin-top: 0em;
    }
    .speaker {
        margin-top: 2em;
    }
    .conf-details {
        padding-left: 0px;
        padding-top: 3em;
    }
    .divider {
        width: 90%;
    }
    .vector1 {
        left: 180px;
    }
    .vector2 {
        left: 10px;
    }
    .vector3 {
        left: 90px;
    }
    .vector4 {
        left: 180px;
    }
    .social-media-icons {
        width: 80%;
    }
    .air {
        padding-top: 3em;
    }
}

#tickets {
    padding-top: 180px !important;
    padding-bottom: 100px !important;
}

.configurations {
    display: flex;
    min-height: 250px;
    background: linear-gradient(90deg, #702841 0%, #270627 100%);
    align-items: center;
    position: relative;
}

.configurations::after {
    content: '';
    position: absolute;
    width: 20vw;
    height: 110%;
    background: url('../images/conf-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -0% 50%; 
    right: 0;
    top: -3.8vw;
}

.configurations p {
    font-family: 'Source Sans Pro';
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: 0.05em;
    text-align: left;
    color: #F8F8F8;
}

@media (max-width: 768px) {
        
    .configurations p {
        font-family: 'Source Sans Pro';
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 0.05em;
        text-align: left;
        color: #F8F8F8;
    }

    .configurations::after {
        content: '';
        position: absolute;
        width: 30vw;
        height: 110%;
        background: url('../images/conf-bg.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: -0% 50%; 
        right: 0;
        top: -8vw;
    }
    
}
